body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier;
}

nav {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: aquamarine;
    border: 2px solid black;
}

article {
    margin: 20px;
}

p {
    margin: 0px;
    padding: 5px;
}

ul{
    margin: 0;
    padding-top: 0;
}

li{
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0 ;

    width: 100%;

    background-color: aquamarine;
    text-align: center;

}

h4 
{
    margin-bottom: 5px;
}

.centerText
{
    text-align: center;
}